[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-igraph = "*"
numpy = "*"
tqdm = "*"
scikit-learn = "*"
scipy = "*"
tabulate = "*"
matplotlib = "*"
networkx = "*"
pandas = "==0.24.2"

[scripts]
install_graphkernels_package = "pip install graphkernels"
